<%= form_with(model: database, local: true) do |form| %>
  <% if database.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(database.errors.count, "error") %> prohibited this database from being saved:</h2>

      <ul>
      <% database.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :database_name %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :database_sex %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
